<%= form_tag '/admin/excel?locale=' + params[:locale], :multipart => true do %>
  <label for="file"><%= t("form.upload_file") %></label> <%= file_field_tag "file" %>
  <br /><%= submit_tag t("form.load_btn"), :class => "btn btn-primary" %>
<% end %>
