// Place all the styles related to the price controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_div {
	  border: solid 1px #000;
	  background: #fbfbfb;
}
table.price_table {
	  width: 96%;
	  border: solid 1px #000;
	  padding: 2px;
	  background-color: #ddd;
	  margin-left: 2%;
	  margin-rigth: 2%;
}
.price_table th {
	  background-color: #eef;
}
.pg {
	  // width: 50%;
	  // text-align: center;
	  margin-left: 200px;
	  // margin-rigth: 25%;
}
.notice {
	font-weigth: bold;
	color: #090;
}